<div id="<%= dom_id media_file %>">
  <p>
    <strong>Song:</strong>
    <%= media_file.song_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= media_file.name %>
  </p>

  <p>
    <strong>File:</strong>
    <%= media_file.file %>
  </p>

</div>
