<% content_for :title, "New lyrics version" %>

<div id="<%= dom_id @lyrics_version, :new %>">
  <h2>
    <% if @lyrics_version.previous_version_id %>
      Editing lyrics to:
      <%= link_to "#{@lyrics_version.song.title}", @lyrics_version.song %>
    <% else %>
      <%= @lyrics_version.song.title %>
    <% end %>
  </h2>

  <%= render "form", lyrics_version: @lyrics_version %>
</div>
