<% content_for :title, "New lyrics version" %>

<p>
  Editing lyrics to:
  <%= link_to "#{@lyrics_version.song.title}", @lyrics_version.song %>
</p>

<%= render "form", lyrics_version: @lyrics_version %>
