<% content_for :page_title do %>
  Diff for <%= link_to "#{next_version.song.title}", next_version.song %>
<% end %>

<% content_for :nav_links do %>
  <li>
    <%= link_to "Go back", next_version %>
  </li>
<% end %>

<div>

  <%#= link_to "#" + (prev_version.description.empty? ? prev_version.id : prev_version.description), prev_version %>
<!--  =&gt;-->
  <%#= link_to "#" + (next_version.description.empty? ? next_version.id : next_version.description), next_version %>
  <%= render partial: 'diff', locals: { diff: diff, next_version: next_version, prev_version: prev_version, edit: edit } %>
</div>
