<div>
  <%= link_to "Show this comment", @comment %>
</div>

<% content_for :title, "Editing comment" %>

<p>
  You're editing comment on:
  <%= link_to "#{@comment.song.title}", @comment.song %>
</p>

<%= render "form", comment: @comment %>
