<% content_for :second_navbar do %>
  <ul>
    <li>
      <%= link_to "Show this song", @song %>
    </li>
  </ul>
<% end %>

<% content_for :title, "Editing song" %>

<% content_for :page_title, "Editing song" %>

<%= render "form", song: @song %>
