<%= link_to "New song", new_song_path %>

<p style="color: green"><%= notice %></p>

<% content_for :title, "Songs" %>

<h1>Songs</h1>

<p>
  <% @songs.each do |song| %>
    <div>
      <%= link_to "#{song.title}", song %>
    </div>
  <% end %>
</p>