<p style="color: green"><%= notice %></p>

<% content_for :title, "Songs" %>

<h1>Songs</h1>

<div id="songs">
  <ul>
  <% @songs.each do |song| %>
    <li>
      <%= link_to "#{song.title} [#{song.created_at}]", song %>
    </li>
  <% end %>
  </ul>
</div>

<%= link_to "New song", new_song_path %>
