<% content_for :title, "New lyrics annotation" %>

<h1>New lyrics annotation</h1>

<%= render "form", lyrics_version: @lyrics_version, lyrics_annotation: @lyrics_annotation %>

<br>

<div>
  <%= link_to "Go back to the lyrics", lyrics_version_path(@lyrics_version)  %>
</div>
